<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salonapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".AppStartActivity"></activity>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MyOrdersActivity" />
        <activity
            android:name=".NavigationDrawerAcitivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Product_Grid_Layout" />
        <activity android:name=".ProductsLayoutScreen" />
        <activity android:name=".BookApointmentList" />
        <activity android:name=".MoreOptionsActivity" />
        <activity android:name=".ListConfirmOrder" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".VerifyOrder" />
        <activity android:name=".SelectedListActivityLayout" />
        <activity android:name=".HorizontalLayoutListOptions" />
        <activity android:name=".HorizontalActivity" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".ExpandableListLayout" />
        <activity android:name=".BeautyServicesScreen" />
        <activity android:name=".CurvedNavigationFooter" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".SignUpScreen" /> <!-- <activity android:name=".ImageSlidingScreen" /> -->
        <activity android:name=".GridsLayoutScreen" />
        <activity android:name=".ProductsServicesScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>